.navigation {
    position: fixed;
    top: 16px;
    left: 16px;

    .navigationLink {
        display: flex;
        align-items: center;
        height: 32px;
        width: 200px;
        border: 1px solid gray;
        border-radius: 50px;
        &.active {
            background-color: red;
        }
    }
}