@import '../../theme/theme.scss';

.jobsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 600px;
  padding: 16px 0;
  max-height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;

  .jobCube {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 1px 1px 5px gray;
    height: 46px;
    width: calc(100% - 32px);
    margin: 8px;
    cursor: pointer;
    .taskEditField {
      border: none;
      height: 30px;
      background: transparent;
      font-size: 16px;
    }
  }

  .expandedJob {
    padding: 8px 0px;
    margin-top: -8px;
    background-color: $orange;
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 32px);
    .jobBtn {
      height: 35px;
      background: white;
      border-radius: 35px;
      width: 40%;
      border: 0px;
    }
  }
}

.timeleft {
    position: absolute;
    right: 0px;
    top: 8px;
    padding: 4px;
    border-radius: 8px 0 0 8px;
    &.early {
      background-color: $ok;
    }
    &.soon {
      background-color: $warning;
    }
    &.late {
      background-color: $danger;
    }
}

.assigneeBubble {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -10px;
  top: -10px;
  border-radius: 20px;
}