@import '../../theme/theme.scss';

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    background: white;
    border-radius: 8px;
    padding: 16px;
    form {
      display: flex;
      flex-direction: column;
      .dualButtons {
        display: flex;
        justify-content: space-between;
        button {
          width: calc(50% - 8px);
          background-color: transparent;
          border: 1px solid $border;
        }
      }
      button {
        height: 30px;
      }
      input, select {
        margin: 8px 0;
        height: 30px;
      }
      select {
        height: 36px;
      }
      .durationButtons {
        display: flex;
        button {
          background-color: transparent;
          width: 75px;
          border: 1px solid gray;
          margin: 8px;
          &.selected {
            background-color: $orange;
          }
        }
        button:first-child {
          margin-left: 0px;
        }
        button:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}